<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/static/Css/carrinho_css.css" type="text/css">
    <link rel="stylesheet" href="/static/Css/nav_bar.css" type="text/css">
    <script src="/static/scriptCarrinho.js" defer></script>
    <script src="/static/scriptPegaCarrinho.js"></script>
    <script type="module" src="/static/dist/bundle.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <header>
          <nav>
            <a href="/views/home" class="logo"><img src="/static/img/Logo.png" alt="logo" /></a>
            <ul class="nav-list">
              <li><a href="/views/home">Home</a></li>
              <li><a href="/views/cardapio">Cardápio</a></li>
              <li><a href="/views/sobremesas">Sobremesas</a></li>
              <li><a href="/views/bebidas">Bebidas</a></li>
              <li>
                <a href="/views/carrinho"
                  ><img
                    class="cart-icon"
                    src="/static/img/shopping-cart.png"
                    alt="carrinho icon"
                /></a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
      <main>
        <section>
          <form class="mesas">
            <div class="mesas-css-posicao">
            <label for="form-mesas">Escolha sua mesa: </label>
              <select name="select" id="form-mesas">
                <option value="mesa1">1</option>
                <option value="mesa2">2</option>
                <option value="mesa3">3</option>
                <option value="mesa4">4</option>
                <option value="mesa5">5</option>
                <option value="mesa6">6</option>
                <option value="mesa7">7</option>
                <option value="mesa8">8</option>
              </select>
              </div>
              <input type="submit" value="Fazer Pedido" />
          </form>
          
          <table id="cart-table">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody class="cart-body">
              
              
            </tbody>
          </table>

          <div class="row2">
            <div class="column2">
              <div class="card2">
                <p id="p-total">Total:</p>
                <p id="p-dinheiro">R$ 22,06</p>
              </div>
            </div>

        </section>
      </main>
</body>
</html>